<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/layout.css")
    @Styles.Render("~/css/default.css")
    @Styles.Render("~/css/userInfo.css")

    @Scripts.Render("~/js/jquery-1.7.1.js")
    @Scripts.Render("~/js/default.js")

    @RenderSection("header", false)
</head>
<body>
    <div id="top">
        <div id="header">
            <a title="FindU" href="/" class="logo"></a>
            <ul class="navbar">
                <li><a href="#" class="on">首页</a></li>
                <li><a href="#">移动客户端下载</a></li>
                <li><a href="#">数据统计</a></li>
                <li><a href="#">寻找小伙伴</a></li>
            </ul>
        </div>
        <div id="top_login">
            <a href="/login.html">登陆</a>|<a href="/register.html">注册</a>
        </div>
    </div>

    <div id="contentWrapper" class="clearfix">
        <div id="leftBar">
            <div id="leftWrapper">
                <div id="upDiv">
                    <ul id="type">
                        <li class="ulHead">个人信息                    
                        </li>
                        <li>
                            <a href="userInfo.html">基本信息
                            </a>
                        </li>
                        <li>
                            <a href="AccountInfo.html">账户信息
                            </a>
                        </li>
                        <li>
                            <a href="changeHeadImg.html">修改头像
                            </a>
                        </li>
                        <li>
                            <a href="myRelease.html">我的发布
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div id="mainContent">
            <div id="mainContentWrapper">
                @RenderSection("rightContent", false)
            </div>
        </div>
    </div>

    <div id="footer" class="clearfix">
        <p id="back-to-top">
            <a href="#top"></a>
        </p>
        &copy;2013 <a href="#">小俊学长</a>
        <ul class="fright clearfix">
            <li><a href="/">首页</a>·</li>
            <li><a href="#">应用下载</a>·</li>
            <li><a href="#">提建议</a>·</li>
            <li><a href="#">关于我们</a>·</li>
            <li><a href="#">免责声明</a></li>
        </ul>
    </div>
</body>
@RenderSection("scripts", required: false)
</html>
